@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Role</h1>
<br />
<br />
<form asp-action="Create">
    <div asp-validation-summary="All"></div>

    <partial name="PartialViews/CreateEditRolePartialview">



        <input type="Submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn badge-light">Back To List</a>
</form>

@section validationscriptsection{

    <partial name="_ValidationScriptsPartial">

    }
